@import "variables";
@import "mixins";
@import "common";
@import "loader";

section {
    padding: 40px 0;
    @media screen and (max-width: 991px) {
        padding: 30px 0;
    }
    @media screen and (max-width: 767px) {
        padding: 20px 0;
    }
}
h2 {
    &::after {
        content: "";
        @include square(80px, 2px);
        @include position(absolute, auto, auto, -10px, 0);
        margin: 0 auto;
        background: #b7b6b6;
    }
    &.center {
        &::after {
            right: 0;
        }
    }
}

.primary-btn {
    background: $color-primary;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 50px;
    border: 2px solid $color-primary;
    &:hover {
        text-decoration: none;
        color: $color-primary;
        border: 2px solid $color-primary;
        background: none;
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.myModal-form {
    .modal-content {
        background: url(../images/form-bg.jpg) no-repeat;
    }
    .sugg-form {
        padding: 30px;
        label {
            font-size: 14px;
        }
        input,
        select {
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

header {
    background: #fff;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
    @media screen and (max-width: 991px) {
        overflow: hidden;
    }
    .logo {
        img {
            max-width: 180px;
            margin-top: 15px;
            @media screen and (max-width: 479px) {
                max-width: 150px;
            }
        }
        @media screen and (max-width: 991px) {
            &:after {
                display: none;
            }
        }
    }

    .call-to-action {
        text-align: right;
        font-size: 15px;
        margin-top: 15px;
        border-bottom: 1px solid #344254;
        @media screen and (max-width: 991px) {
            text-align: center;
        }
        @media screen and (max-width: 479px) {
            margin-top: 8px;
            ul {
                margin-bottom: 8px;
            }
        }
        .phone {
            font-weight: bold;
        }
        a {
            color: #e6e6e6;
            &:hover {
                text-decoration: none;
            }
            i {
                padding-right: 5px;
            }
        }
        span {
            display: none;
        }
        i {
            border: 1px solid #ddd;
            display: block;
            @include square(40px);
            border-radius: 50px;
            padding: 0 !important;
            line-height: 2.5;
        }
    }
}
nav {
    font-family: $font-body;
    float: right;
    @media screen and (max-width: 1199px) {
        border-top: 1px solid #ddd;
    }
    ul {
        margin: 0;
        font-size: 0;
        li {
            display: inline-block;
            a {
                display: block;
                color: $color-secondary;
                padding: 15px 20px;
                font-size: 18px;
                &:hover {
                    text-decoration: none;
                    color: #555;
                    img {
                        @include transition(0.3s);
                        @include filter(grayscale(100%));
                    }
                }
                &.search-nv {
                    background: #a5def3;
                    @include square(50px);
                    border-radius: 50%;
                    line-height: 3.5;
                    color: #fff;
                    padding: 0;
                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }
                @media screen and (max-width: 1199px) {
                    padding: 15px 10px;
                }
            }
            &:last-child a {
                padding-right: 0;
            }
            .hl-btn{
                background: #a5def3;
                padding: 5px 15px;
                margin-right: 15px;
                border-radius: 6px;
                border: 1px solid #57caf5;
                color: #fff;
                img{
                    @include filter(grayscale(100%) brightness(0) invert(1));
                }
            }
            &.active {
                a {
                    color: $color-primary;
                }
            }
        }
    }
}
.searchbar {
    form {
        button {
            &.btn {
                border-radius: 0 5px 5px 0;
            }
        }
        .form-control {
            height: 60px;
            border-radius: 0;
            outline: none !important;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        button {
            height: 56px;
            width: 150px;
        }
        .relative {
            input {
                padding-left: 40px;
            }
            i {
                @include position;
                width: 40px;
                z-index: 9;
                font-size: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ddd;
            }
        }
    }
}
.icon-sec {
    h1 {
        text-align: center;
        font-size: 38px;
        margin-bottom: 40px;
        a{
            &:hover{
                text-decoration: none;
            }
        }
        @media screen and (max-width: 575px) {
            font-size: 20px;
            margin-bottom: 15px;
        }
    }
    .services-brief {
        margin-bottom: 0;
        li {
            margin: 0 8px;
            text-align: center;
            a {
                color: #555;
                text-decoration: none;
                display: block;
                &:hover {
                    color: $color-secondary;
                    img {
                        background: rgba(0, 32, 96, 0.1);
                    }
                }
            }

            img {
                display: block;
                background-color: rgba(255, 255, 255, 0.5);
                padding: 20px;
                border: none;
                @include transition(0.2s);
                border-radius: 5px;
                border: 1px solid #ededed;
                max-width: 100px;
                margin: auto;
            }
            span {
                font-size: 24px;
                padding: 15px 0 0;
                display: block;
                text-align: center;
            }
            @media screen and (max-width: 1199px) {
                margin: 0 10px;
                span{
                    font-size: 18px;
                }
            }
            @media screen and (max-width: 767px) {
                margin: 0 2px;
                span{
                    font-size: 11px;
                }
            }
        }
        @media screen and (max-width: 575px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            li {
                a {
                    margin-bottom: 15px;
                    img {
                        max-width: 60px;
                        padding: 10px;
                    }
                    span {
                        font-size: 12px;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

.introduction {
    background: url(../images/bg-intro.jpg) no-repeat top center;
    position: relative;
    z-index: 1;
    color: #fff;
    &:after{
        content:'';
        @include position;
        background: rgba(0, 176, 240, 0.55);
        z-index: -1;
    }
    h2{
        color: #fff;
        &:after{
            background: #fff;
        }
    }
    h3 {
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 30px;
        line-height: 1.5;
    }
    .sub-title {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 1.5;
        @media screen and (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    .hvr-sweep-to-right {
        color: #fff;
        border: 2px solid #fff;
        &:hover{
            border: 2px solid $color-secondary;
        }
        @media screen and (max-width: 991px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
}
.appointment {
    background: url(../images/bg2.jpg) no-repeat bottom;
    h2 {
        @media screen and (max-width: 991px) {
            margin-top: 50px;
        }
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
}
.cta {
    background: url(../images/bg1.jpg) no-repeat fixed;
    position: relative;
    z-index: 1;
    &:after {
        content: "";
        @include position;
        background: rgba(0, 0, 0, 0.76);
        z-index: -1;
    }
    h3 {
        font-size: 30px;
        color: #fff;
        line-height: 1.6;
        margin-bottom: 35px;
        @media screen and (max-width: 767px) {
            font-size: 22px;
            margin-bottom: 15px;
        }
    }
    .primary-btn {
        font-weight: bold;
        font-family: $font-heading;
        font-size: 20px;
        padding: 15px 50px;
    }
}
.services {
    padding-bottom: 40px;
    .pdl30 {
        padding-left: 30px;
        padding-top: 4vw;
    }
    .service-block {
        margin-bottom: 30px;
        .icon,
        .content {
            text-align: center;
        }
        .icon {
            border: 1px solid #ddd;
            padding: 30px;
        }
        h4 {
            font-size: 24px;
            margin-top: 20px;
        }
    }
}

.assistant-slider {
    background: url(../images/help-bg.jpg) left center #fff no-repeat;
    background-size: cover;
    @media screen and (max-width: 991px) {
        background: none;
    }
    .slick-slide {
        margin: 0 5px !important;
    }
    .assistant-container {
        margin-bottom: 30px;
        padding: 0 50px;
        @media screen and (max-width: 767px) {
            padding: 0 20px;
        }
        .slick-arrow {
            position: absolute;
            @include square(40px);
            border-radius: 100%;
            margin-top: auto;
            margin-bottom: auto;
            z-index: 9;
            font-size: 0;
            outline: none !important;
            &::before {
                content: "";
                @include position(absolute, 0, 0, 0, 5px);
                @include square(10px);
                border-left: 2px solid #fff;
                border-bottom: 2px solid #fff;
                margin: auto;
            }
            &.slick-prev {
                background: $color-secondary;
                @media screen and (min-width: 1200px) {
                    left: 0px;
                }
                @media screen and (max-width: 1199px) {
                    left: 0px;
                }
                &::before {
                    transform: rotate(45deg);
                }
            }
            &.slick-next {
                background: $color-secondary;
                @media screen and (min-width: 1200px) {
                    right: 0px;
                }
                @media screen and (max-width: 1199px) {
                    right: 0px;
                }
                &::before {
                    transform: rotate(-135deg);
                }
                &::before {
                    content: "";
                    right: 10px;
                }
            }
        }
        .slick-dots {
            display: none !important;
            li {
                display: inline-block;
                vertical-align: middle;
                button {
                    display: block;
                    @include square(14px);
                    color: transparent;
                    margin: 0 5px;
                    border-radius: 15px;
                    font-size: 0;
                    border: 2px solid #aaa;
                    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.5);
                    outline: none !important;
                }
                &.slick-active {
                    button {
                        background: #aaa;
                    }
                }
            }
        }

        .assistant-item {
            outline: none !important;
            border-radius: 8px !important;
            overflow: hidden;
            border: 1px solid #eee;
            padding: 0;
            .item-image {
                background: #bbb;
                padding: 15px;
                a {
                    display: block;
                    overflow: hidden;
                    @include square(130px);
                    margin: auto;
                }
            }
            .item-detail {
                padding: 10px;
                border-top: none;
                font-size: 16px;
                background: #fff;
                .detail {
                    list-style: none;
                    li {
                        font-size: 80%;
                        &.assistant-name {
                            /*text-transform: uppercase;*/
                            line-height: 2;
                        }
                    }
                }
            }
            .price {
                background: $color-primary;
                display: inline-block;
                color: #fff;
                padding: 5px 15px;
                font-size: 14px;
                border-radius: 50px;
                margin-top: 10px;
            }
            .social-profile {
                border-top: 1px solid #ddd;
                text-align: center;
                padding-top: 10px;
                a {
                    padding: 0 8px;
                    color: #888 !important;
                    &:hover {
                        color: $color-secondary !important;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.testimonials {
    background: #eee;
    h2 {
        text-align: center;
    }

    .col-center {
        margin: 0 auto;
        float: none !important;
    }

    .carousel {
        .item {
            text-align: center;
            overflow: hidden;
            min-height: 290px;
            .img-box {
                @include square(135px);
                margin: 0 auto;
                padding: 5px;
                border: 1px solid #ddd;
                border-radius: 50%;
                img {
                    @include square(100%);
                    display: block;
                    border-radius: 50%;
                }
            }
        }
        .testimonial {
            padding: 30px 60px 10px;
        }
        .overview {
            b {
                text-transform: uppercase;
                color: $color-secondary;
            }
        }
        .carousel-control {
            @include square(40px);
            margin-top: -20px;
            top: 50%;
            background: none;
            i {
                font-size: 44px;
                line-height: 42px;
                position: absolute;
                display: inline-block;
                color: rgba(0, 0, 0, 0.8);
                text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
                @media screen and (max-width: 575px) {
                    font-size: 36px;
                }
            }
        }
        .carousel-indicators {
            bottom: -40px;
            li {
                background: #999;
                border-color: transparent;
                box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
                &.active {
                    @include square(10px);
                    margin: 1px 3px;
                    border-radius: 50%;
                    background: #555;
                    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

.footer-contact {
    background: #232f3e;
    color: #e6e6e6;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #344254;
    .c-block {
        font-size: 16px;
        line-height: initial;
        display: inline-block;
        border-right: 1px solid #344254;
        padding: 15px 50px;
        text-align: left;
        @media screen and (max-width: 1399px) and (min-width: 992px) {
            padding: 15px 30px;
        }
        @media screen and (max-width: 991px) {
            font-size: 14px;
            padding: 15px 10px;
        }
        @media screen and (max-width: 767px) {
            display: block !important;
            border-right: none !important;
            padding: 20px 0px !important;
        }
        .icon,
        .c-details {
            display: inline-block;
            vertical-align: middle;
        }
        .icon {
            font-size: 20px;
        }
        .c-details {
            padding-left: 10px;
            letter-spacing: 1.5px;
            @media screen and (max-width: 991px) {
                letter-spacing: 0;
            }
            strong {
                display: block;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            a {
                color: #e6e6e6;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .social {
            margin-bottom: 0;
            li {
                display: inline-block;
                a {
                    font-size: 16px;
                    display: block;
                    border-radius: 100%;
                    color: $color-secondary;
                    text-align: center;
                    line-height: 2.5;
                    border: 1px solid $color-secondary;
                    @include square(40px);
                    &:hover {
                        background: $color-secondary;
                        color: #fff;
                    }
                    @media screen and (max-width: 991px) {
                        line-height: 2.3;
                        @include square(36px);
                    }
                }
            }
        }
        &:last-child {
            border: none;
        }
    }
}
footer {
    background: #232f3e;
    @media screen and (max-width: 479px) {
        margin-bottom: 96px;
    }
    .row {
        @media screen and (max-width: 1399px) and (min-width: 992px) {
            margin-right: 0;
            margin-left: 0;
        }
        @media screen  and (max-width: 767px) {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .pd60 {
        padding: 60px 0;
        @media screen and (max-width: 991px) {
            padding: 20px 0 60px;
        }
    }
    h4 {
        color: #fff;
        margin-bottom: 20px;
        @media screen and (max-width: 991px) {
            margin-top: 40px;
        }
    }
    ul {
        margin-bottom: 0px;
        li {
            display: block;
            position: relative;
            line-height: 1.5rem;
            font-size: 0;
            a {
                color: #ddd;
                font-size: 16px;
                &:hover {
                    color: $color-secondary;
                    text-decoration: none;
                }
            }
        }
    }
    .newsletter {
        p {
            font-size: 14px;
            color: #ddd;
        }
        .subscribe {
            position: relative;
            z-index: 0;
            .email-input {
                padding: 10px 25px;
                border-radius: 50px;
                font-size: 16px;
                width: 100%;
                &:focus {
                    outline: none;
                }
            }
            .btn-subscribe {
                position: absolute;
                top: 2px;
                bottom: 2px;
                left: auto;
                right: 2px;
                padding: 5px 20px;
                border-radius: 100px;
                z-index: 1;
                background: #00aad4;
                color: #fff;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .copyright {
        border-top: 1px solid #344254;
        padding: 20px 0;
        p {
            color: #e6e6e6;
            margin-bottom: 0;
            font-size: 14px;
            color: #ababab;
        }
    }
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: $color-secondary;
    border: 2px solid $color-secondary;
    border-radius: 50px;
    overflow: hidden;
    padding: 15px 40px;
}
.hvr-sweep-to-right {
    &:before {
        content: "";
        @include position;
        z-index: -1;
        background: $color-secondary;
        @include transform(scaleX(0));
        @include transform-origin(0 50%);
        @include transition(0.3s, transform);
    }
    &:hover, &:focus, &:active {
        color: white;
        text-decoration: none;
        &:before {
            @include transform(scaleX(1));
        }
    }
}

.mb-nav {
    li {
        text-align: center;
        vertical-align: middle;
    }
    a {
        font-size: 15px;
        @media screen and (max-width: 479px) {
            color: #000;
            font-size: 10px;
            padding: 10px 10px;
        }
    }
    img {
        max-width: 30px;
        display: block;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    @media screen and (min-width: 992px) {
        position: relative;
    }
    @media screen and (max-width: 991px) {
        @include position(fixed, auto);
        background: #ddd;
        text-align: center;
        z-index: 9;
        a {
            color: #000;
            font-size: 12px;
            padding: 10px;
        }
        .hl-btn{
            display: none;
        }
        img.nav-icon {
            display: block;
            max-width: 30px;
            margin: 0 auto;
            margin-bottom: 10px;
            @media screen and (max-width: 479px) {
                margin-bottom: 5px;
            }
        }
    }
    @media screen and (max-width: 479px) {
        ul {
            display: flex;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 991px) {
    .mb-vsbl-nv {
        ul{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li{
                display: inline-block;
                padding: 5px;
                a{
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    background: #dcf2fd;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    font-size: 12px;
                    text-decoration: none;
                    img{
                        display: block;
                        max-width: 24px;
                        @media screen and (min-width: 576px) {
                            margin-right: 5px;
                        }
                    }
                    span{
                        text-align: center;
                        /*font-size: 16px;*/
                        @media screen and (max-width: 575px) {
                            display: none;
                        }
                    }
                }
                &:last-child {
                    a {
                        @include square(46px);
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 680px !important;
        margin: 10vw auto !important;
    }
}
.search-modal {
    .modal-dialog {
        max-width: 960px !important;
        margin: auto !important;
    }
}
@media screen and (max-width: 767px) {
    .mb30 {
        margin-bottom: 15px;
    }
    .mb50 {
        margin-bottom: 25px;
    }
}
@import "slider";

/*----------------------LOGIN---------------------------*/

.pdl00{
    padding: 100px 0;
}
.loginform{
    .form-area{width: 35%;}
    .img-area{
        width: 65%; 
        background: url(../images/login/log-cover.jpg) no-repeat center center;
        background-size: cover;
    }
    .login-form {
    background: linear-gradient(45deg, #00235c, #02afec);
    padding: 80px 40px 0;
    color: #fff;
    width: 100%;
    h3{
        font-size: 32px;
    }
    .form-control{
        border-radius: 
        0px; height: 50px; 
        border: none; 
        padding: 0 20px;
        &:focus{
            outline: none;
        }
    }
    button {
        padding: 10px 60px;
    background: #00b0f0;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
    &:focus{
        outline: none;
    }
    }
    .ForgetPwd {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        margin: 25px 0 0;
        display: block;
        &:hover{
            text-decoration: underline;
        }
        }
        .form-footer {
    font-size: 16px;
    text-align: center;
    border-top: 1px solid #ffffff38;
    padding: 15px 0;
    margin-top: 80px;
    margin-left: -40px;
    margin-right: -40px;
    a{
        color: #a5def3
    }
}
}
}
@media screen and (max-width: 991px) {
    .loginform .img-area{
        display: none !important;
    }
    .loginform .form-area{
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .loginform .form-area{
        margin: 0 30px;
    }
}

.breadcrumb-sec {
    background: $color-secondary;
    color: #fff;
    padding: 20px;
    h3{
        margin-bottom: 0;
        font-size: 26px;
    }
    .breadcrumb{
        justify-content: flex-end;
        padding: 0;
    margin-bottom: 0;
    background: none;
    li{
        color: #fff;
        &:before{
            color: #fff;
        }
    }
    a{
        color: #ebebeb;
    }
    }
}